thead {
  tr {
    th {
      &.expander {
        text-align: center;
      }

      font-weight: bold;
      border: 1px solid #dcddde;
      border-bottom: 2px solid  #dcddde;
      text-align: left;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.container {
  padding-left: 8px;

  .title {
    float: left;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
  }

  .selector {
    float: right;
    width: 12px;
    height: 50px;
    font-size: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .arrowActive {
      color: blue;
    }

    .arrowInactive {
      color: grey;
    }
  }

  .wrapper {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
