tr {
  td {
    border: 1px solid #dcddde;
    height: 50px;

    .container {
      padding: 15px 8px;
      max-height: 50px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    div {
      &.expander {
        text-align: center;
        transform: rotate(-90deg) translateZ(0);
        cursor: pointer;
        transition: transform 0.5s;
      }

      &.expanded {
        text-align: center;
        cursor: pointer;
        transition: transform 0.5s;
      }
    }
  }
}
